<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Fred's Here</title>
  </head>
  <body>
    <header>
      Fred's Here
    </header>
    <main>
     <!-- Stick specifc content here -->
      <%= yield %>
    </main>
    <footer>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="/legalese">Legalese</a>
    </footer>
  </body>
</html>
