<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Hello, the time is <%= Time.now %></p>

    <ul>
      <% @todo_list.each do |item| %>
      <li><%= item %></li>
      <% end %>
    </ul>
  </body>
</html>
